.m_df-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_df-sc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.m_df-ec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.m_df-cs{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.br_default{
    border-radius: 5px;
}
.fs--l{
    line-height: 30px !important;
    font-size: 1.3rem;
}
.ff--pokemon{
    font-family: pokemon;
}